html {
    height: 100%;
    width: 100%;
    background: white;
}
head{
    background: white;
}
#general {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-outside: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuerpo {
    background-color: gainsboro;
    height: 75vh;
    width: 64%;
    display: block;
    border-radius: 10px;

}

#encabezado {
    background-color: #3282b8;
    padding: 10px;
    height: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.submit-button {
    font-family: "Segoe UI";
    float: right;
    display: block;
    margin-right: 4%;
    height: 60%;
    width: 35%;
    background-color: darkgray;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: none;
    font-size: 22px ;
}
.submit-button:hover {
    background-color: grey;
    color:#bbe1fa;
}

.titulo {
    font-family: "Segoe UI";
    float: left;
    display: block;
    color: white;
    padding: 14px 55px;
    margin-top: 0%;
    margin-left: -1%;
}

#contenido {

    height: 83%;
    align-items: center;
}

.container {
    padding: 20px;
}

.form-label {
    font-size: 25px;
    color: #3282b8;
    margin-left: 29px;
    padding: 15px;
    vertical-align: top;
}

.form-input {
    font-size: 17px;
    max-width: 75%;

}

.datos{
    height: 70px;
}